{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}
{% block title %} Main {% endblock %}

{% block content %}
<h1> lets start again </h1>


<form action="{{ url_for('index')}}" , method="POST">
    {{ displayField(form.username, 'Username',  autocomplete='off', autofocus=true) }}
    {{ displayField(form.password, 'Password')}}
    {{ displayField(form.confirm_password, 'Confirm Password')}}

    <div>{{form.submit_button}}</div>


    {{ form.csrf_token }}
</form>

{% endblock %}
