{% extends "layout.html" %}
{% block title %} Main {% endblock %}

{% block content %}
<h1> lets start again </h1>

<form action="{{ url_for('index')}}" , method="POST">
    <div>
        {{form.username(class_='form-control', placeholder='Username', autocomplete='off', autofocus=true)}}
    </div>
    <ul>
        {% for error in form.username.errors %}
            <li> {{ error }}</li>
        {% endfor %}
    </ul>
    <div>
        {{form.password(class_='form-control', placeholder='password', autocomplete='off', autofocus=true)}}
    </div>
        <ul>
        {% for error in form.username.errors %}
            <li> {{ error }}</li>
        {% endfor %}
    </ul>
    <div>
        {{form.confirm_password(class_='form-control', placeholder='confirm_password', autocomplete='off', autofocus=true)}}
    </div>
        <ul>
        {% for error in form.username.errors %}
            <li> {{ error }}</li>
        {% endfor %}
    </ul>
    <div>{{form.submit_button}}</div>


    {{ form.csrf_token }}
</form>

{% endblock %}